* {
    list-style: none;

}
.crumbs-home{
	color: #81868a;
}
.breaking-newss {
	width: 1170px;
}
.crumbss{
	padding-bottom: 10px;
    padding-left: 90px;
}
.title-com {
	padding-top: 40px;
    right: 410px;
    color: #fff;
    font-size: 30px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
}
h3.title-com:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: 0;
    border-top: 2px solid #d0d2d3;
    z-index: 1;
    display: block;
}
.title-com .title-holder {
    min-width: 350px;
    height: 45px;
    background-color: #ff944d;
    height: auto;
    line-height: 45px;
    padding: 0px 20px;
    position: relative;
    z-index: 2;
    text-align: center;
    display: inline-block;
}
.title-holder:before {
    content: "";
    position: absolute;
    right: -15px;
    border-width: 0px;
    bottom: 0px;
    border-style: solid;
    border-color: #ff944d transparent;
    display: block;
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 15px solid #ff944d;
}
 
.title-holder:after {
    content: "";
    position: absolute;
    left: -15px;
    border-width: 0px;
    bottom: 0px;
    border-style: solid;
    border-color: #ff944d transparent;
    display: block;
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-bottom: 22px solid transparent;
    border-right: 15px solid #ff944d;
}
.post-inner p.post-meta {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
p.post-meta {
	margin-right: 15px !important;
    color: #888;
    margin: 7px 0;
}
p.post-meta span {
	font-style: italic;
    display: inline-block;
    margin-right: 10px;
}
.tile1{
    padding-left: 100px !important;
}
p.post-meta a {
    color: #888;
}
 #wrapper.wide-layout .breaking-news{
    width: 1010px;
}
.breaking-news span.breaking-news-title {
    background: #2da397;
}
.breaking-news span.breaking-news-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.breaking-news span.breaking-news-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.breaking-news span.breaking-news-title {
    float: left;
    padding: 0px 15px 0;
    height: 32px;
    color: #FFF;
}
.breaking-news ul a {
    padding-left: 100px;

    white-space: nowrap;
    font-family: tahoma;
	
}
.blog-details {
    padding: 20px 0;
}
.row {
    margin-top: 15px;
}
.courses-details {
    padding: 30px 0;
}
.title-news {
    margin: -80px 5px 0px !important;
}
.title-crums{
    padding-bottom: 10px;
    padding-left: 20px !important;
}
	.breaking-news {
        width: 1315px;
    background: #FFF;
    height: 32px;
    margin: -5px auto 0px;
    overflow: hidden;
    position: relative;
}
.share-post {
    margin-left: 30px;
    clear: both;
    padding: 8px 0 50px 10px;
    background: #F7F7F7;
    border-top: 1px solid #EAEAEA;
}
.share-text{
	text-align: center;
    width: 200px;
	background-color: #ff944d;
}
.share-post span.share-text {
    margin: -9px 10px -10px -10px;
    display: block;
    float: left;
    color: #FFF;
    padding: 0 9px;
    font-family: BebasNeueRegular, arial, Georgia, serif;
    font-size: 14pt;
    height: 45px;
    line-height: 50px;
}
.flat-social li {
    width: auto !important;
}
.share-post li, .mini-share-post li {
    float: left;
    width: 106px;
}
a {
     padding-right: 0px; 
     padding-top: 0px; 

}
.breaking-newss {
    margin: -5px -15px 0px;

}
.blog-one1 {
    padding-top: 45px;
    padding-bottom: 10px;
}
.blog-one__image > img {
    width: 100%;
    opacity: 1;
    transition: all 0.4s ease;
}
.imagess {
    padding-left: 55px;
    padding-right: 64px;
    height: 400px;
    width: 715px;
}
.gioithieu-title{
    font-size: 45pt;
    margin: auto;
    text-align: center;
    color: #ff944d;
    text-shadow: 5px 5px 8px #d3b06a;
    font-weight: bolder;
}
.noidunggioithieu{
    color: black;
    margin-left: 100px;
    margin-right:  100px;
    margin-top: 50px;
    text-align: justify;
}
.HinhGT{
    margin-left: 250px;
    width: 800px;
}
.H_KHDT{
    margin-left: 350px;
    padding-right: 20px;
}
.video-two1 {
    padding: 50px 0 !important;
    background-image: none !important;
}
.video-two1 {
    position: relative;
    padding: 120px 0;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.video-two1::before {
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-position: left top !important;
}
/* .video-two1::before {
    background-color: #f7be81 !important;
    background: url(/assets/images/DinhCuMy/ancu.jpg) repeat-x;
} */
.video-two1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #012237;
    opacity: 0.6;
}
.image-br{
    background-color: #f7be81 !important;
    background: url(/assets/images/DinhCuMy/ancu.jpg) repeat-x;
}
.color01{
    color: #EAEAEA;
}
.video121{

    padding-right: 220px;
}
.card-img1{
    margin-left: 55px;
    width: 200px;
    height: 226px;
}
@media (min-width: 576px)
{
.card-deck .card {
    flex: 1 0;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    height: 450px;
}
}