.title-speaking{
    color: #ff0d0d;
    text-align: center;
    padding: 30px 30px;
}
.blog-one1{
        padding-top: 0px;
        padding-bottom: 120px;
    
}
.course-details__top {
    display: contents;
}