.course-details {
    background-color: white !important;
    padding: 30px 0;
}
.row {
    margin-top: 10px;
}
.course-details__meta {
    margin-bottom: -5px;

}
.become-teacher__formm {
    padding-top: 186px;
    padding-left: 0px; 
    position: relative; 
     margin-right: 0px;
}
.become-teacher__formm:before {
    content: '';
    width: 197px;
    height: 268px;
    position: absolute;
    bottom: -11%;
    left: 87%;
    z-index: -1;
}
.become-teacher__formm-content {
    border-style: solid;
    border-width: 2px;
    border-color: #f1f1f1;
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 35px;
    padding-bottom: 10px;
}
.become-teacher__formm-top {
    background-color: #ff944d !important;
    padding-left: 60px;
    position: relative;
}
.become-teacher__formm-top::before {
    content: '';
    background-position: 0 0;
    position: absolute;
    top: 100%;
    left: 60px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ff944d !important;
    background-image: none !important;
}
.become-teacher__formm-top::before {
    content: '';
    width: 38px;
    height: 10px;
    background-image: url(/_next/static/media/become-form-angle.f7e6fce5.png);
    background-position: 0 0;
    position: absolute;
    top: 100%;
    left: 60px;
}
.become-teacher__formm input {
    border: none;
    outline: none;
    width: 100%;
    background-color: #f1f1f1;
    height: 60px;
    font-size: 16px;
    color: #81868a;
    font-weight: 500;
    padding-left: 40px;
    display: block;
    margin-bottom: 10px;
}
.blog-one__title {
    margin-bottom: 20px;
}
.blog-one__meta {
    margin-bottom: 20px;
}
.blog-one__text {
    margin-bottom: 20px;
}
.blog-one__content {
    padding-top: 30px;

}
.course-detail__list {
    padding-left: 88px !important;
    position: relative !important;
    border-style: double;
    border-width: 2px;
    border-color: #f1f1f1;
    padding: 50px;
    margin-top: 20px;
}
.course-details__list-title {
    margin-bottom: 60px;
}
.content_1{
    margin-top: -30px;
    color: black;
}
.list{
    list-style: disc;
}
p.post-meta {
    padding-left: 15px;
}
.lienhe{
    color: #33cccc;
    font-size: 24px;
}
.auto{
    text-align: center;
    color: #ff0000;
}
.iconfa{
    width: 16;
    height: 16;
    color: white;
}
.icon-gg{
    background-color: red !important;
}.titlee{
    color: red;
    font-size: 25px;
}
.slider__slide-contents {
    z-index: 6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100%; */
    text-transform: uppercase;
    line-height: 1;
}
/* CONTACT */
.contact-info-one {
    padding-top: 50px;
}
.blog-one {
    background-color: white !important;
    padding-top: 30px;
    padding-bottom: 120px;

}

